.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.addTasks{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: calc(0px - 1rem - 6px);   
}

.addTasks input{
    display: flex;

    width: 50vw;
    height: 3em;
    padding: 0.5rem;
    background-color: var(--Gray-400);
    font-size: 1rem;
    color: var(--Gray-100);
    font-weight: bolder;

    border-radius: 8px;
    border: 0px;
}


.addTasks button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 5.5rem;
    padding: 0.5rem;
    font-size: 1.1rem; 
    font-weight: bolder;


    color: var(--Gray-100);
    cursor: pointer;
    gap: 0.2rem;

    border-radius: 8px;
    background-color: var(--Blue);

}


.wrapperTasks{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


.statusTasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem 0rem;
    width: 56vw;

    border-bottom: 1px solid var(--Gray-300);
}

.statusTasks span:nth-child(1){
    color: var(--Blue);
    font-size: 1rem;
    font-weight: 900;
}

.statusTasks span:nth-child(2){
    color: var(--PurpleDark);
    font-size: 1rem;
    font-weight: 900;
}

.taskSpace{
    display: flex;
    justify-content: center;
    flex-direction: column;
}